p{
    
    width: 600px;
    margin-bottom: 0px;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold ;
    
}
.bg-body-tertiary{
    background-color: #dfdfdf !important;
}
.navbar-brand{
font-weight: bold;
font-family:Verdana, Geneva, Tahoma, sans-serif;
}